input {
    width: 200px;
    height: 25px;
}

#play-btn{
    width: 50px;
    height: 25px;
}

#gener-num h2,
#guess-num h3{
    display: inline;
}

#guess-num {
    margin-top: 25px;
}

#text-line {
    display: block;
}
